.sec-title
{
    margin-bottom: 20px;
}
.app-img
{
    position: relative;
}
.appstore-section
{
    padding-bottom: 0px;
    background-image: url(../assets/img/bg.jpg);
}
.palystore img,.app img
{
margin-bottom: 30px;
}
@media (max-width:567px)
{
	.hero-slider-section {
		padding: 60px 0px;
	}
	.feature-item {
		margin-top: 30px;
	}
	.app-img
	{
		text-align: center;
		margin-top: 40px;
	
	}
}
.app-img img
{
    max-width: 100%;
    height: auto;
    -webkit-box-shadow: 0px 20px 30px 0px rgba(11, 2, 56, 0.06);
    -moz-box-shadow: 0px 20px 30px 0px rgba(11, 2, 56, 0.06);
    box-shadow: 0px 20px 30px 0px rgba(11, 2, 56, 0.06);
}