.class-scetion
{
    background:linear-gradient( rgba(0, 0, 0, 0.739), rgba(0, 0, 0, 0.734) ), url(../assets/img/img/img1.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 0px;

}