.standered-section
{
    margin-top: -150px;
}
.crs-card
{
   padding: 30px 10px 30px 10px;
    background: rgb(255, 255, 255);
    border-radius: 25px;
    margin-bottom: 20px;
}   
.crs-card img
{
    margin-bottom: 20px;
}
.day
{
    font-size: 16px;
    margin-right: 10px;
}
.date
{
    font-size: 14px;
}
.section-heading
{
    font-size: 28px;
    font-weight: 800;
}
.sm-card{
position: relative;
z-index: 1;
margin-bottom: 2rem;
}
.sm-card:hover.sm-card::after
{
    background: #1F3046;
    opacity: 0.9;
}

.sm-card::after

{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: #046a39e0;

}
.head
{
    position: absolute;
    top: 45%;
    left: 33%;
    z-index: 1;
}