
.featurse
{
    margin-top: -180px;
}
.featurse-card
{
    position: relative;
    z-index: 3;
    box-shadow: rgba(11, 2, 56, 0.14) 0px 5px 50px 0px;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 30px 28px 41px 183px;    
} .featurse-card img{
    margin-right: 20px;
    position: absolute;
    left: 45px;
    top: 55px;
    width: 112px;
    height: 112px;

}

.btn-r
{
 background-color: rgb(225, 241, 255);;
 padding: 10px 40px 10px 30px;
 color: rgb(20, 20, 21) !important;
 text-decoration: none;
 border-radius: 1px;
}
.btn-r:hover
{
    background-color:rgb(0, 0, 0) ;
    color: white !important;
    text-decoration: none;
}
.featurse-card h4
{
font-size: 25px;
line-height: 29px;
font-weight: 600;
}
@media(max-width:991px)
{
  .featurse-card img  
  {
    position: relative !important;
    left: 0;
    top: -10px;
  }
  .featurse-card
  {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
  }
}
@media (min-width:1300px)
{
.featurse-card {
    padding: 70px 69px 70px 195px;
}
.featurse-card.a{
    margin-right: 30px;
}
.featurse-card.b{
    margin-left: 20px
}
}
